<% @products.each do |product| %>
    <%= product.name %></td> <br>
    <div id="description-<%= product.id %>"><%= truncate(product.description) %></div> <br>
    <div id="inventory-<%= product.id %>">> <br>
    <button class="js-more" data-id="<%= product.id %>">More Info</button>
  </tr>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    let id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      let description = data
    });
    $.get("/products/" + id + "/inventory", function(data) {
      if (data == true) {
        let inventory = "Available"
      }
      else (data == false) {
        let inventory = "Sold Out"
      }
      $("#description-" + id).text(description + ", " + inventory);
    });
  });
});
</script>
